# Environments & Secrets
venv/
.venv/
.env
**/mlruns/
# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data 
data/error_logs/*
data/chat/*
model/*
data/notifications_clean/*
data/notifications_matched/*
data/master_directory/*
data/notification_historical/*
data/notifications_output/*
data/benchmark/data/*
data/benchmark/results/*
!data/error_logs/.gitkeep
!data/notifications_clean/.gitkeep
!data/notifications_matched/.gitkeep
!data/notifications_output/.gitkeep
!data/benchmark/data/.gitkeep
!data/benchmark/results/.gitkeep
!data/chat/.gitkeep
!model/.gitkeep
chroma_db/*
chroma_db/chroma.sqlite3/*
*.sqlite3
*.bin
*.pickle
*.csv
*.parquet

# Saved ML Models 
saved_models/*
!saved_models/.gitkeep
*.pkl
*.h5
*.pt

# Personal Notes & Logs
notes/
*.log

# OS Junk (Windows)
Thumbs.db
desktop.ini

# Doxygen & Graphviz output
docs/generated/

#specific file 
/config copy.json
/debug.txt
/debug_page.html
/config.json
/profile.json